<article class="card">
  <div class="card-body">
    <h3 class="h5 card-title text-truncate"><%= post.title %></h3>
    <% if user_signed_in? %>
      <p class="card-subtitle mb-2 text-body-secondary"><%= post.user.username %></p>
    <% end %>
    <p class="card-text text-body-secondary"><%= post.content %></p>
    <%= link_to "View Post", post, class: "btn btn-sm", data: { turbo_frame: "_top" } %>
  </div>
</article>
