<%= link_to "Back to Posts", root_path, class: "btn btn-light" %>
<div class="mt-5">
  <h1><%= @post.title %></h1>
  <% if user_signed_in? %>
    <h2 class="lead">By: <%= @post.user.username %></h2>
  <% end %>
  <% if @post.content && !@post.content.empty? %>
    <p class="mt-4"><%= @post.content %></p>
  <% end %>
</div>